<footer class="border-top footer text-muted bg-info">
    <div class="container text-white">
        &copy; 2021 - Market - <a asp-area="" asp-controller="Product" asp-action="List" class="text-white">Product</a>
    </div>
</footer>